@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  @media (max-width: 640px) {
    html {
      font-size: 14px;
    }
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background: #0a0a0a;
    color: #ffffff;
    -webkit-text-size-adjust: 100%;
  }

  body {
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
